
@using ProductStorage.Service.ViewModels.CustomerProduct

@model IEnumerable<CustomerProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Customers - products info:</h1>

@foreach(var item in Model)
{
    <p>@item.CustomerName -- @item.CustomerPhone -- @item.ProductName -- @item.OrderedAmount -- @item.TotalPrice</p>
}